/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 6, 2016, 3:29:13 AM
    Author     : Mustafa
*/

*{
    padding: 0;
    margin: 0;
}


#header,#footer{
    height: 60px;
    width: 100%;
    background-color: darkorchid;
    font-family: courier;
    font-size: x-large;
    color: white;
    text-align:  center;
    padding-top: 20px;
    font-weight: bolder;
}

#container{
    background-color: gray;
    height: 400px;
    width: 100%;
    font-family: courier;
    font-size: x-large;
    color: white;
    text-align:  center;
    font-weight: bolder;
}

form{
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
    height: 350px;   
    background-color: gray;
    border: azure 3px dashed;
    }

#text{
    margin-top: 25px;
    width: 40%;
    height: 25px;
    border-radius: 25px;
    border: beige 2px solid;
    color: blueviolet;
    font-family: courier;
    font-size: medium;
    text-align:  center;
    font-weight: bold;
    color: beige;
}


#submit{
    margin-top: 25px;
    width: 20%;
    height: 35px;
    border-radius: 25px;
    border: black 2px solid;
    background-color: beige;
    color: blueviolet;
    font-family: courier;
    font-size: x-large;
    text-align:  center;
    font-weight: bold;
}

#submit:hover{
    margin-top: 25px;
    width: 20%;
    height: 35px;
    border-radius: 25px;
    border: black 2px solid;
    background-color: blueviolet;
    color: beige;
}

#output{
margin-top: 20px;
}
